.app {
  font-size: 18px;
  margin: 15px;
  padding: 10px 30px;

  &__btn {
    margin-top: 10px;
    background-color: #ba6a55;
    padding: 5px;
    border-radius: 4px;
  }
}


/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
